AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_ENDPOINT=
AZURE_OPENAI_LLM_DEPLOYMENT_NAME=
AZURE_OPENAI_API_VERSION=
AZURE_OPENAI_LLM_MODEL=
AZURE_OPENAI_EMBEDDING_MODEL=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME=

REDIS_ENABLE_FLAG=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=

LANCEDB_PATH=
LANCEDB_TABLE_NAME=
LANCEDB_EMBEDDING_MODEL=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SCHEMA=

TOOLKIT_CACHE_ENABLED=
TOOLKIT_CACHE_TTL=

ALLOWED_TOPICS=

# MongoDB connection details
MONGODB_HOST=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_PROTOCOL=

# variables for testing
AZURE_OPENAI_ENDPOINT=same as AZURE_OPENAI_API_ENDPOINT
AZURE_OPENAI_LLM_TESTING_DEPLOYMENT_NAME=put the testing deployment name here

# local
GCP_CREDENTIALS=your GCP credentials file path

# LangSmith
LANGSMITH_PROJECT=example project name [INARI-CBOT-V1]
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
