# For the time being, exclude companydemo, but we shouldn't

[flake8]
ignore = E203, E501, E704, F403, F405, F811, W503, W605, E731
max-line-length = 119
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    data,
